table {
    margin: 30px auto;
    border: 2px solid #f2f2f2;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

table tr>td,
table tr>th {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

table tr:nth-child(even)>td {
    background-color: #a5a5a5;
}
